/Chapter_1/hello_cargo/target
/Chapter_1/hello_world.pdb
/Chapter_1/hello_world.exe

/Chapter_2/guessing_game/target

/Chapter_3/branches/target
/Chapter_3/data_types/target
/Chapter_3/exercises/target
/Chapter_3/functions/target
/Chapter_3/loops/target
/Chapter_3/variables/target

/Chapter_4/ownership/target
/Chapter_4/references/target
/Chapter_4/slice/target

/.vscode