/Chapter_1/hello_cargo/target
/Chapter_1/hello_world.pdb
/Chapter_1/hello_world.exe

/Chapter_2/guessing_game/target

/Chapter_3/branches/target
/Chapter_3/data_types/target
/Chapter_3/exercises/target
/Chapter_3/functions/target
/Chapter_3/loops/target
/Chapter_3/variables/target

/Chapter_4/ownership/target
/Chapter_4/references/target
/Chapter_4/slice/target

/Chapter_5/structs/target
/Chapter_5/examples_struct/target
/Chapter_5/methods/target

/Chapter_6/enum_pattern/target
/Chapter_6/match_construct/target
/Chapter_6/if_let_construct/target

/Chapter_7/backyard/target
/Chapter_7/restaurant/target
/Chapter_7/separating_modules/target

/.vscode